<!DOCTYPE html>
<head>
    <title>Assignment 5 three.html</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
</head>
<body>
    <svg width="100%" height="300" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="#29ADFF"/>
        <circle cx="15%" cy="27%" r="40" fill="#FFEC27" stroke="#FFA300" stroke-width="7"/>
        
        <polygon points="0,210 150,150 250,210 350,100 500,210 670,120 780,210 850,90 970,210 1100,130 1300,210 1500,100 1650,210 1920,210" style="fill:#C2C3C7"/>
        <rect y="210" width="100%" height="100%" fill="#00E436"/>
      </svg>
    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="./two.html">Page Two</a></li>
            <li><a href="./three.html">Page Three</a></li>
        </ul>
    </nav>
    <h1>SVG Animation is easy!</h1>
    <img src="../resources/page-three.svg" width="500px"/>
    <div></div>
    <svg width="500" height="500" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="white"/>
        <circle cx="50%" cy="50%" r="240" stroke="black" stroke-width="10" fill="none" />
        
        <text x="50%" y="45" font-size="35" text-anchor="middle">12</text>
        <text x="455" y="51%" font-size="35" text-anchor="middle">3</text>
        <text x="50%" y="475" font-size="35" text-anchor="middle">6</text>
        <text x="45" y="51%" font-size="35" text-anchor="middle">9</text>
        
        <rect x="49%" y="50%" width="2%" height="40%" fill="red">
            <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                from="180 250 250"
                to="540 250 250"
                dur="60s"
                repeatCount="indefinite" />
        </rect>
        <rect x="49%" y="50%" width="2%" height="35%" fill="black">
            <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                from="180 250 250"
                to="540 250 250"
                dur="3600s"
                repeatCount="indefinite" />
        </rect>
        <rect x="49%" y="50%" width="2%" height="25%" fill="black">
            <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                from="180 250 250"
                to="540 250 250"
                dur="43,200s"
                repeatCount="indefinite"/>
        </rect>
        <circle cx="50%" cy="50%" r="15"/>
    </svg>
</body>