<!DOCTYPE html>
<head>
    <title>Assignment 5 two.html</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
</head>
<body>
    <svg width="100%" height="300" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="#29ADFF"/>
        <circle cx="90%" cy="30%" r="40" fill="#FFEC27" stroke="#FFA300" stroke-width="7"/>
        
        <polygon points="0,210 150,150 250,210 350,100 500,210 670,120 780,210 850,90 970,210 1100,130 1300,210 1500,100 1650,210 1920,210" style="fill:#C2C3C7"/>
        <rect y="210" width="100%" height="100%" fill="#00E436"/>
      </svg>
    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="./two.html">Page Two</a></li>
            <li><a href="./three.html">Page Three</a></li>
        </ul>
    </nav>
    <h1>Favorite Coding Resources</h1>
    <table>
        <caption>Links to my favorite coding resources</caption>
        <thead>
            <tr>
                <th>Coding Resource</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Godot Documentation</td>
                <td><a href="https://docs.godotengine.org/en/stable/index.html">https://docs.godotengine.org/en/stable/index.html</a></td>
            </tr>
            <tr>
                <td>Pico-8 Wiki</td>
                <td><a href="https://pico-8.fandom.com/wiki/Pico-8_Wikia">https://pico-8.fandom.com/wiki/Pico-8_Wikia</a></td>
            </tr>
            <tr>
                <td>w3schools</td>
                <td><a href="https://www.w3schools.com">https://www.w3schools.com</a></td>
            </tr>
        </tbody>
    </table>
</body>