<!DOCTYPE html>
<head>
    <title>Assignment 5 two.html</title>
</head>
<body>
    <svg width="100%" height="300" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="green"/>
    </svg>
    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="./two.html">Page Two</a></li>
            <li><a href="./three.html">Page Three</a></li>
        </ul>
    </nav>
    <h1>Favorite Coding Resources</h1>
    <table>
        <caption>Links to my favorite coding resources</caption>
        <thead>
            <tr>
                <th>Coding Resource</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Godot Documentation</td>
                <td><a href="https://docs.godotengine.org/en/stable/index.html">https://docs.godotengine.org/en/stable/index.html</a></td>
            </tr>
            <tr>
                <td>Pico-8 Wiki</td>
                <td><a href="https://pico-8.fandom.com/wiki/Pico-8_Wikia">https://pico-8.fandom.com/wiki/Pico-8_Wikia</a></td>
            </tr>
            <tr>
                <td>w3schools</td>
                <td><a href="https://www.w3schools.com">https://www.w3schools.com</a></td>
            </tr>
        </tbody>
    </table>
</body>